.App {
  text-align: center;
}

button {
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 5px;
  margin: 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}
