.wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(31, 218, 181, 0.2);
    padding: 20px;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}

.wrapper:hover {
    transform: scale(1.2);
    color: yellow;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.userCity {
    font-size: 18px;
    text-transform: uppercase;
}