.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    gap: 40px;
    align-items: center;
    background: #112d49;
    padding: 40px;
    position: relative;
}

.iconClose {
    position: absolute;
    top: -34px;
    right: -34px;
    font-size: 70px;
    cursor: pointer;
}

.userAvatar {
    width: 200px;
    height: 300px;
    background: lightblue;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #112d49;
}

.detailInfoUser {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fullName {
    font-size: 40px;
}

.detailInfoUser p {
    text-align: left;
    font-size: 24px;
    border-bottom: 2px solid white;
}

.detailInfoUser span {
    margin-left: 10px;
}